aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
annotated-doc==0.0.4
anyio==4.13.0
attrs==26.1.0
beautifulsoup4==4.15.0
cbor2==6.1.2
certifi==2026.5.20
cfgv==3.5.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.4.1
datasets==5.0.0
dill==0.4.1
distlib==0.4.3
docker==7.1.0
fastcore==1.13.3
filelock==3.29.4
frozenlist==1.8.0
fsspec==2026.4.0
ghapi==1.0.13
gitdb==4.0.12
GitPython==3.1.50
grpclib==0.4.9
h11==0.16.0
h2==4.3.0
hf-xet==1.5.1
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.19.0
hyperframe==6.1.0
identify==2.6.19
idna==3.18
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
modal==1.5.0
multidict==6.7.1
multiprocess==0.70.19
nodeenv==1.10.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
propcache==0.5.2
protobuf==6.33.6
pyarrow==24.0.0
Pygments==2.20.0
pytest==9.1.0
python-dateutil==2.9.0.post0
python-discovery==1.4.2
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
soupsieve==2.8.4
-e git+https://github.com/princeton-nlp/SWE-bench.git@f7bbbb2ccdf479001d6467c9e34af59e44a840f9#egg=swebench
synchronicity==0.12.3
tenacity==9.1.4
toml==0.10.2
tqdm==4.68.2
typer==0.25.1
types-certifi==2021.10.8.3
types-toml==0.10.8.20260518
typing_extensions==4.15.0
unidiff==0.7.5
urllib3==2.7.0
virtualenv==21.5.0
watchfiles==1.2.0
xxhash==3.7.0
yarl==1.24.2
